<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914196026754-jghol5v9659o1q169fbvv9greboes427.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914196026754-jghol5v9659o1q169fbvv9greboes427</string>
	<key>API_KEY</key>
	<string>AIzaSyBUSrjFW71QC_3jPXFsdxYgmysXyCDzBXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>914196026754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testef</string>
	<key>PROJECT_ID</key>
	<string>resilience-muscle</string>
	<key>STORAGE_BUCKET</key>
	<string>resilience-muscle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914196026754:ios:e5d75ebcf0461480082b9b</string>
</dict>
</plist>